<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oryn.lotus.flutter_ring_kit">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application>
        <activity
            android:name=".CallerActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:taskAffinity="com.oryn.lotus.flutter_ring_kit.INCOMING_CALL_AFFINITY"
            android:theme="@style/FullScreenTheme"
            android:turnScreenOn="true"
            tools:targetApi="o_mr1" />

        <receiver
            android:name=".receivers.ActionBroadcastReceiver"
            android:exported="false" />
    </application>

</manifest>
